.create-container {
  padding: 20px 0;
  background-color: rgb(235, 235, 235);
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-label,
.content-label {
  padding: 12px;
  margin-right: 5px;
}

.title-label {
  color: white;
}

.content-label {
  color: white;
}

.title-input,
.content-input {
  height: 40px;
  border: none;
  border-radius: 5px;
  /* padding: 5px; */
  font-size: 1.3rem;
}
.title-input {
  width: 20vw;
  max-width: 400px;
}
.content-input {
  width: 30vw;
  max-width: 400px;
}

.submit-button {
  margin-right: 30px;
  padding: 8px 16px;
  width: 100px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #66676c;
  border-radius: 25cap;
  /* background-color: #4fe3a4; */
  color: black;
}

.submit-button:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
